#container {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
}

#window {
    display: flex;
    height: 30em;
}

#visualization {
    width: 45%;
}

#log {
    padding-left: 2em;
    flex: 0.9;
    overflow-y: auto;
}

#nextButton {
    float: right;
}

.form-item {
    padding: 0.15em;
}

#errors {
    color: red;
}
